﻿@{
    ViewData["Title"] = "Registro de estudiantes";
}

<div class="container card shadow p-5 my-5 bg-light col-md-8">
    <div class="text-center">
        <h2 class="text-info">- Aplicación Web -<br />Gestión de Estudiantes</h2>
        <p class="text-seconLenguajedary">
            Maestro: Luis Javiel Fortuna<br />
            Asignatura: Lenguaje de Programación III<br />
            Asignación: Práctica Actividad 4<br />
            Alumno: Ezequiel Santos<br />
            Matrícula: SD-2022-04397
        </p>
        <a href="/Estudiantes/Index" class="btn btn-primary">Iniciar aplicación</a>
    </div>
</div>